//Imports
@import 'variables'
//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC')
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans')
@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
//Code
*
  margin: 0
  padding: 0
  list-style-type: none
  text-decoration: none

body
  background-color: $primary-color

.container
  margin-left: auto
  margin-right: auto
  max-width: 1500px

#name
  font-size: 4em
  font-family: 'Josefin Sans'
  color: white
  letter-spacing: 2px
  text-align: center
  margin-top: 300px

h4
  font-family: 'Indie Flower'
  color: white
  font-size: 2.0em
  text-align: center
  margin-top: 50px
  letter-spacing: 3px

#title
  position: relative
  font-family: 'Open Sans'
  font-size: 2.0em
  color: white
  text-align: center

ul
  margin-left: 100px

.ul-two
  margin-left: 400px


li
  font-family: 'Open Sans'
  color: #B7B7B7

a
  color: white
  font-size: 2.2em
  line-height: 70px

footer
  text-align: center
  height: 110px
  margin-top: 340px
  width: 100%

img
  width: 130px
  height: 100px

.section-one
  background-color: white
  height: 500px

.section-two
  background-color: $dark-blue
  height: 500px

#section-main
  font-size: 2.5em
  font-family: 'Open Sans'
  color: $primary-color

#section-main-two
  font-size: 2em
  font-family: 'Open Sans'
  color: white

#me
  display: inline-block
  border-radius: 50%
  margin-left: 200px
  margin-top: 100px
  width: 350px
  height: 350px

.caption
  margin-top: 100px
  margin-right: 150px
  display: block
  float: right
  width: 500px
  height: 300px

.caption-two
  margin-top: 100px
  margin-right: 150px
  display: block
  float: left
  width: 500px
  height: 300px

p
  font-family: 'Open Sans'
  color: #7C7C7C
  font-weight: 300

.p-two
  font-family: 'Open Sans'
  color: #B7B7B7
  font-weight: 300

#flybe
  margin-left: 150px
  margin-top: 100px
  width: 550px
  height: 350px
  display: inline-block

.footer
  background-color: $dark-blue
  height: 200px

#footer-header
  display: inline-block
  padding-top: 70px
  font-size: 2.5em
  font-family: 'Josefin Sans'
  color: white

h2
  font-family: 'Indie Flower'
  color: white
  margin-left: 100px
  margin-top: 40px

.h2-two
  font-family: 'Indie Flower'
  color: white
  margin-left: 400px
  margin-top: 40px

.item
  position: absolute
  display: inline-block
  float: left

.item-two
  position: absolute
  display: inline-block
  float: left
