//Imports
@import 'variables'
@import 'mediaQueries'
//Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC')
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans')
@import url('https://fonts.googleapis.com/css?family=Indie+Flower')
//Code
*
  margin: 0
  padding: 0
  list-style-type: none
  text-decoration: none

//Body
body
  background-color: $primary-color

.container
  margin-left: auto
  margin-right: auto
  max-width: 1500px

//Header
.logo
  position: absolute
  font-family: 'Josefin Sans'
  color: white
  font-size: 3em

header ul
  float: right

header li
  font-family: 'Open Sans'
  color: white
  font-size: 1.5em
  display: inline-block
  margin-left: 30px
  border: 3px solid white
  padding: 5px 10px 5px 10px

//First Section
#name
  font-size: 4em
  font-family: 'Josefin Sans'
  color: white
  letter-spacing: 2px
  text-align: center
  margin-top: 300px

h4
  font-family: 'Indie Flower'
  color: white
  font-size: 2.0em
  text-align: center
  margin-top: 50px
  letter-spacing: 3px

#title
  position: relative
  font-family: 'Open Sans'
  font-size: 2.0em
  color: white
  text-align: center

.email-me
  margin-top: 40px
  text-align: center
  color: white
  font-family: 'Open Sans'
  font-size: 1.5em
  border: 3px solid white
  background: transparent
  padding: 10px

//First Footer
.footer-one
  text-align: center
  height: 100px
  margin-top: 250px
  width: 100%

img
  width: 130px
  height: 100px

//Second Footer
footer ul
  margin-left: 100px

footer li
  font-family: 'Open Sans'
  color: #B7B7B7

.ul-two
  margin-left: 600px

//First Section
.section-one
  background-color: white
  margin-top: 20px
  height: 500px

#me
  display: inline-block
  margin-left: 200px
  margin-top: 50px
  width: 450px
  height: 450px

.caption
  margin-top: 100px
  margin-right: 150px
  display: inline-block
  float: right
  width: 500px
  height: 300px

#section-main
  font-size: 2.5em
  font-family: 'Open Sans'
  color: $primary-color

p
  font-family: 'Open Sans'
  color: #7C7C7C
  font-weight: 300

.buttons
  text-align: center

.buttons button
  margin-left: 10px

//Second Section
.section-two
  background-color: $dark-blue
  height: 500px
  margin-bottom: -20px

#Me2
  margin-left: 250px
  margin-top: 30px
  width: 400px
  height: 430px
  display: inline-block

.caption-two
  margin-top: 50px
  margin-right: 150px
  float: left
  width: 500px
  height: 300px

.caption-two strong
  color: white

.caption-two p a
  color: white

#section-main-two
  font-size: 2em
  font-family: 'Open Sans'
  color: white

.p-two
  font-family: 'Open Sans'
  color: #B7B7B7
  font-weight: 300
  display: inline-block

//Third Section
.skills-container-left
  float: left
  margin-right: 200px
  position: absolute
  margin-top: 70px

.skills-container-right
  float: right
  margin-right: 500px
  margin-top: 70px

.skills-percent
  font-family: 'Open Sans'
  color: $primary-color
  font-size: 2em


.skills-left
  font-family: 'Open Sans'
  color: #7C7C7C
  font-size: 2em

.skills-right
  font-family: 'Open Sans'
  color: #7C7C7C
  font-size: 2em
    margin-top: 100px
    margin-right: 150px
    display: inline-block
    float: right
    width: 500px
    height: 300px

//Second Footer
.footer
  background-color: $dark-blue
  height: 200px

#footer-header
  position: absolute
  margin-top: 70px
  font-size: 2.5em
  font-family: 'Josefin Sans'
  color: white
  display: inline

footer p
  color: white
  position: absolute
  float: right
  margin-left: 1200px
  margin-top: 70px

footer h2
  font-family: 'Open Sans'
  color: white
  margin-left: 100px
  font-size: 1.2em

.item-one
  position: absolute
  margin-top: 40px
  margin-left: 100px

.skillbar-one-left
  position: absolute
  width: 270px
  height: 25px
  margin-top: 12px
  margin-left: 50px

.skillbar-one-right
  position: absolute
  width: 270px
  height: 25px
  margin-top: 12px
  margin-left: 150px

//Miscellaneous
a
  color: white

//Email Page Content

#email-body
  background-color: $dark-blue

#main-text
  color: white
  font-family: 'Josefin Sans'

#click-here
  color: white
  font-family: 'Open Sans'
