@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Patrick+Hand+SC");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

body {
  background-color: #3498db; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px; }

#name {
  font-size: 4em;
  font-family: "Josefin Sans";
  color: white;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 300px; }

h4 {
  font-family: "Indie Flower";
  color: white;
  font-size: 2em;
  text-align: center;
  margin-top: 50px;
  letter-spacing: 3px; }

#title {
  position: relative;
  font-family: "Open Sans";
  font-size: 2em;
  color: white;
  text-align: center; }

ul {
  margin-left: 100px; }

.ul-two {
  margin-left: 600px; }

li {
  font-family: "Open Sans";
  color: #B7B7B7; }

img {
  width: 130px;
  height: 100px; }

.section-one {
  background-color: white;
  margin-top: 20px;
  height: 500px; }

.section-two {
  background-color: #223C58;
  height: 500px;
  margin-bottom: -20px; }

#section-main {
  font-size: 2.5em;
  font-family: "Open Sans";
  color: #3498db; }

#section-main-two {
  font-size: 2em;
  font-family: "Open Sans";
  color: white; }

#me {
  display: inline-block;
  margin-left: 200px;
  margin-top: 50px;
  width: 450px;
  height: 450px; }

.caption {
  margin-top: 100px;
  margin-right: 150px;
  display: inline-block;
  float: right;
  width: 500px;
  height: 300px; }

.skills-container-left {
  float: left;
  margin-right: 200px;
  position: absolute;
  margin-top: 70px; }

.skills-container-right {
  float: right;
  margin-right: 500px;
  margin-top: 70px; }

.caption-two {
  margin-top: 50px;
  margin-right: 150px;
  float: left;
  width: 500px;
  height: 300px; }

p {
  font-family: "Open Sans";
  color: #7C7C7C;
  font-weight: 300; }

.p-two {
  font-family: "Open Sans";
  color: #B7B7B7;
  font-weight: 300;
  display: inline-block; }

.skills-percent {
  font-family: "Open Sans";
  color: #3498db;
  font-size: 2em; }

.skills-left {
  font-family: "Open Sans";
  color: #7C7C7C;
  font-size: 2em; }

.skills-right {
  font-family: "Open Sans";
  color: #7C7C7C;
  font-size: 2em;
    font-size-margin-top: 100px;
    font-size-margin-right: 150px;
    font-size-display: inline-block;
    font-size-float: right;
    font-size-width: 500px;
    font-size-height: 300px; }

#Me2 {
  margin-left: 250px;
  margin-top: 30px;
  width: 400px;
  height: 430px;
  display: inline-block; }

.footer {
  background-color: #223C58;
  height: 200px; }

#footer-header {
  position: absolute;
  margin-top: 70px;
  font-size: 2.5em;
  font-family: "Josefin Sans";
  color: white;
  display: inline; }

.footer-one {
  text-align: center;
  height: 110px;
  margin-top: 340px;
  width: 100%; }

footer p {
  color: white;
  position: absolute;
  float: right;
  margin-left: 1200px;
  margin-top: 70px; }

footer h2 {
  font-family: "Open Sans";
  color: white;
  margin-left: 100px;
  font-size: 1.2em; }

.h2-two {
  font-family: "Indie Flower";
  color: white;
  margin-left: 600px; }

.item-one {
  position: absolute;
  margin-top: 40px;
  margin-left: 100px; }

.item-two {
  position: absolute;
  display: block;
  margin-top: 40px;
  margin-left: 300px; }

.skillbar-one-left {
  position: absolute;
  width: 270px;
  height: 25px;
  margin-top: 12px;
  margin-left: 50px; }

.skillbar-one-right {
  position: absolute;
  width: 270px;
  height: 25px;
  margin-top: 12px;
  margin-left: 150px; }

/*# sourceMappingURL=base.css.map */
